@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    background-color: #ffffff;
  }
  
  html.dark {
    background-color: #0a0a0a;
    color-scheme: dark;
  }
}

/* Your custom components */
@layer components {
  /* Add your component styles here */
}